<h1>Add new Booking</h1>

<% if  @flights %>
        <<%= form_tag("/flights", method: :post) do %>
        <%= text_field_tag(:'user[the_email]') %>
        <%= submit_tag "Create" %>
          <% end %>
            <p> Nbr vols :</p>
            <%= @flights.count %>

                <table>
                  <tr>
                    <th>choix</th>
                    <th> </th>
                    <th> id  </th>
                    <th>date</th>
                    <th>depart</th>
                    <th>arrive</th>
                  </tr>
                  <% @flights.each do |vol| %>
                    <tr>
                      <td><%= radio_button_tag 'gender', "male#{vol.id}" %><td>
                      <td><%= vol.id %></td>
                      <td><%= vol.departure_date.to_date %></td>
                      <td><%= vol.departure_airport.airport_code %></td>
                      <td><%= vol.arrival_airport.airport_code %></td>
                    </tr>
                  <% end %>
                </table>


<% end %>
<%= link_to 'Back', {:action => 'index'} %>
