<h2> <%= title %> </h2>

<%= form_tag post_remote, method: action, remote: remote do  %>
    <%= "<p>Write something in the perform field and press 'ENTER'. Exemple: (#{display_msg})</p>".html_safe if display_msg %>
    <%= search_field(:"#{task}", :search, rows: "10", cols: "30", id: "myInput_#{task}", onsearch: "//myFunction();" ) if display_search %>
    <%= number_field(:"#{task}", :number, in: 0.0..200.0, step: 0.5, value: "26")           if display_number%>
    <%= text_area_tag(:"#{task}[text]", "The cat was playing in the garden.", size: "24x6") if display_text%>
    <%= submit_tag("Perform Task", class: "is-black is-outlined") do%>
    <% end %>
    <p id="demo_<%= task %>"></p>
<% end %>
