<h1>S3RubyIntermediaire::J3POOScrabbler</h1>


<%= render 'bloc_service', title: "hi task", task: "hi", post_remote: projects_oeuvres3_3_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "monkey task", task: "monkey", post_remote: projects_oeuvres3_3_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "orange_tree task", task: "orange_tree", post_remote: projects_oeuvres3_3_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "scrabble_word task", task: "scrabble_word", post_remote: projects_oeuvres3_3_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "superhero task", task: "superhero", post_remote: projects_oeuvres3_3_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
