<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>


<h1>Index listes des events by user</h1>


<%= link_to 'New user', new_user_path %>

  <br>  <br>  <br>  <br>

<% @users.each do |user| %>
  <br>
  <%= "#{user.id}: #{user.name}" %>
  <%= link_to 'Edit user', edit_user_path(user) %>
  <table>
    <tr>
      <th>description</th>
      <th>date</th>
      <th>place</th>
      <th>creator_id</th>
      <th colspan="2"></th>
    </tr>

    <% user.created_events.each do |event| %>
      <tr>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.place %></td>
        <td><%= event.creator_id %></td>
        <td><%= link_to 'Show goss', event_path(event) %></td>
        <td><%= link_to 'Edit ssip', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy g..p', event_path(event),
  				      method: :delete,
  				      data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>

  <br>  <br>  <br>  <br>
  

<%= link_to 'New event', new_event_path %>
