<!DOCTYPE html>
<html>
<head>
  <title>Cv webpage</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "cv_webpage/application", media: "all" %>
  <%= javascript_include_tag "cv_webpage/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
