<%to_del =Rails.root,'app/assets/zizani/results2.csv'%>
<div style="display:flex; flex: auto;  min-height: 180px;    border: 5px solid white;    padding: 10px;background-color:<%= bg_color %>;    margin: 5px; outline:thick ridge <%= bg_color %>;outline-offset: -15px" class="box">
  <form class="has-text-centered" name= "bloc_projet" accept-charset="UTF-8" method="get" action= <%= method_controler %> style="background-color:<%= bg_color %>; margin:auto;">
    <fieldset  style="border: 0px solid black; border-radius:8px;" class=<%= (ProjectsController.counter)? "box" : ""  %>>
        <label for="project" class="title is-6">Project n° <%= nb %>:  <%= titre %></label><br>

        <%if file_source != "none" then%>    Source : <input type="text" id="project" name="project" placeholder="enter rel/abs file path" value= <%= file_source==""?"app/assets/zizani/file.ext":file_source %> ><br>  <%end%>
        <%if file_results != "none" then%>
                                              <label for="result_path">Results : </label>
                                              <input type="text" id="result_path" name="result_path" placeholder="enter file absolute path" value = <%= file_results==""?to_del:file_results %>  ><br>
        <%end%>
        <%if data_table_bdd != "none" then%> Tab_data: <input type="text" id="table" name="table" placeholder="enter bdd table" value= "nom_de_la_table" ><br>   <%end%>

        <div id="sms-warning" style="text-align:left;"><span class="icon has-text-info is-small"><i class="fas fa-info-circle"></i></span>
                                info: <%= (message!="")? message.html_safe : "messaging or ..." %></div><br>


        <input type="submit" id="submit" value="See Project →"  name="commit" class="button is-info is-rounded is-small"><br>
 <!-- is-inverted is-outlined -->
 <!-- content is-small -->
 <!-- content is-large -->
        <div style="font-size: 80%;">

        <input type="radio" name="complete" value="Non" <%=if !finish          then "checked" end%>> <span class="icon has-text-danger is-small"><i class="fas fa-ban is-small"></i></span>Unbegun
        <input type="radio" name="complete" value="Mid" <%=if finish  == "Mid" then "checked" end%>> <span class="icon has-text-warning is-small"><i class="fas fa-exclamation-triangle"></i></span>Partial
        <input type="radio" name="complete" value="Oui" <%=if finish  == true  then "checked" end%>> <span class="icon has-text-success is-small"><i class="fas fa-check-square"></i></span>Works<br>

        </div>

        <%=if false then link_to 'Back', projects_testo_path end%>
        <% bar_color = rate>89?"is-success":(rate>74? "is-link":(rate>59?"is-info":(rate>44?"is-warning":(rate>29? "is-primary":"is-danger")))) %>
         <progress class='progress <%=bar_color%>' value='<%=rate%>' max='100'><%=rate%>%</progress>
    </fieldset>
  </form>
</div>



<!-- <style>
    form {background-color: powerblue;}
    h1   {color: blue;}
    p    {color: black;}
</style> -->


<!-- <style>
p {outline-color:red;}

p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}
</style> -->
