<h1 class="title is-3"  ><%= week %></h1>

<div class="conteneur" style="display: flex; justify-content: center; align-items: center;  justify-content: space-between; flex-wrap: wrap;">

  <%= render 'blocs', nb: "J1", titre: title1, method_controler: act_cntrl1,  finish: fin1,  bg_color: :silver,    rate: rate1, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: msg1 %>
  <%= render 'blocs', nb: "J2", titre: title2, method_controler: act_cntrl2,  finish: fin2,  bg_color: :gold,      rate: rate2, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: msg2 %>
  <%= render 'blocs', nb: "J3", titre: title3, method_controler: act_cntrl3,  finish: fin3,  bg_color: :turquoise, rate: rate3, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: msg3 %>
  <%= render 'blocs', nb: "J4", titre: title4, method_controler: act_cntrl4,  finish: fin4,  bg_color: :tomato,    rate: rate4, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: msg4 %>
  <%= render 'blocs', nb: "J5", titre: title5, method_controler: act_cntrl5,  finish: fin5,  bg_color: :chocolate, rate: rate5, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: msg5 %>

</div>

<script></script>

<!-- <style>
    form {background-color: powerblue;}
    h1   {color: blue;}
    p    {color: black;}
</style> -->
