<h1>Projects#home</h1>

<div class="conteneur" style="display: flex; justify-content: center; align-items: center;flex-wrap: wrap;">

  <div style="font-size: 8px">
    <form action="/action_page.php">
      First name:<br>
      <input type="text" name="firstname" value="Mickey"><br>
      Last name:<br>
      <input type="text" name="lastname" value="Mouse"> <br>
      <input type="submit" value="Submit">
    </form>
    <p > If  click "Submit" button,form-data will be sent<br> to a page called "/action_page.php".</p>

  </div>


  <%= render 'blocs', titre: "second" %>

  <%= render 'blocs', titre: "third" %>

  <%= render 'blocs', titre: "fourth" %>

  <%= render 'blocs', titre: "fifth" %>

  <%= render 'blocs', titre: "sixth" %>

  <%= render 'blocs', titre: "seventh" %>

  <%= render 'blocs', titre: "eighth" %>

  <%= render 'blocs', titre: "ninth" %>
</div>
