<h1>Projects#home</h1>

<div class="conteneur" style="display: flex; justify-content: center; align-items: center;flex-wrap: wrap;">

  <%= render 'blocs', nb: 1, titre: "none", method_controler: projects_testo_path %>

  <%= render 'blocs', nb: 2, titre: "ScrapUrlsPros", method_controler: projects_scraping_sites_pro_path %>

  <%= render 'blocs', nb: 3, titre: "ScrapGoogleCal", method_controler: projects_scraping_google_calendar_path  %>

  <%= render 'blocs', nb: 4, titre: "ScrapFbPros", method_controler: projects_scraping_facebook_path  %>

  <%= render 'blocs', nb: 5, titre: "ScrapPDFstage", method_controler: projects_projectsparsing_stage_CAJ_pdf_path  %>

  <%= render 'blocs', nb: 6, titre: "sixth", method_controler: projects_testo_path  %>

  <%= render 'blocs', nb: 7, titre: "seventh", method_controler: projects_testo_path  %>

  <%= render 'blocs', nb: 8, titre: "eighth", method_controler: projects_testo_path  %>

  <%= render 'blocs', nb: 9, titre: "ninth", method_controler: projects_testo_path  %>
</div>
