<h1 class="title is-1">Map of All Projects</h1>
<div class="subtitle"> Main work is on the Back-end:
  <a class="button is-success is-inverted is-small  " href="https://github.com/souyahibou/all-projects"> <span class="icon"><i class="fab fa-github"></i></span><span>source code</span>  </a>
</div>

<meta name="robots" content="noindex,nofollow"/>


<div class="conteneur has-text-left" style="display: flex; justify-content: center; align-items: center;  justify-content: space-between; flex-wrap: wrap;">

  <div class="conteneur" style="width:100%">
      <hr class="hr" style="margin-bottom:6">
      <h2 class="title is-2" id="VARIOUS_PROJECTS">Various Projects</h2>

      <div class="tabs is-centered is-boxed">     <ul>  <li class="is-active"><a>Various Projects</a></li>    <li><a href="#THP_PROJECTS">THP Project</a></li></ul>  </div>
  </div>

  <%= render 'blocs', nb: 1, titre: "none", method_controler: projects_testo_path,                                    finish: true, bg_color: :cadetblue, rate: 50, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "useless <br> used for some rendering some tests" %>

  <%= render 'blocs', nb: 2, titre: "ScrapUrlsPros", method_controler: projects_scraping_sites_pro_path,              finish: "Mid", bg_color: :powderblue, rate: 70, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "useless script getting data from some website<br>
using: googleauth, watir, nokogiri, differ, ruby(hash, Regex, array, ENV)++<br>
must: watir webdriver setled, browser, model<br><strong>TODO faire de la gestion d'erreur</strong>" %>

  <%= render 'blocs', nb: 3, titre: "ScrapGoogleCal", method_controler: projects_scraping_google_calendar_path,       finish: "Mid", bg_color: :lightblue, rate: 70, file_source:  "none", file_results: "none",  data_table_bdd: "", message: "useless  script getting data from some google calendar well-structured<br>
  using:  ActiveRecord, Geocoder, ScrapUrlsPros, ruby(Proc, Sleep, Hash, Date, Struct, Time)<br>
  must:(model EvenementGoogle activerecord created)<br>
  <strong>TODO</strong>: creation de model dynamiquement"  %>

  <%= render 'blocs', nb: 4, titre: "ScrapFbPros", method_controler: projects_scraping_facebook_path,                 finish: "Mid", bg_color: :lightsteelblue, rate: 70, file_source:  "none", file_results: "none",  data_table_bdd: "", message: "
  useless script getting data from Facebook API<br>
  using: Koala, ActiveRecord, Hash, Time<br>
  must:(API connection, model created)<br>
  todo: creation de model dynamique"  %>

  <%= render 'blocs', nb: 5, titre: "ScrapPDFstage", method_controler: projects_projectsparsing_stage_CAJ_pdf_path,   finish: "Mid", bg_color: :skyblue, rate: 90, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "<br>
  useless script parsing data from pdf catalog<br>
  using: gem (pdf-reader, PG(dynamicly)), ruby(File, struct, Proc, Hash,%x! !)<br>
  must:(PG connection)"  %>

  <%= render 'blocs', nb: 6, titre: "ScrapCdiscount", method_controler: scraping_cdiscount_path,                      finish: "Mid", bg_color: :lightskyblue, rate: 90, file_source:  "none", file_results: "",  data_table_bdd: "none", message: "
  useless 2 scripts getting data from Cdiscount website<br>
  using: Nokogiri, CSV, ruby(Array of Hashs)<br>
  must: (CSV file for save) <br>
  todo: reconfigurer app :add out file"  %>

  <%= render 'blocs', nb: 7, titre: "conversion_vcf/xls", method_controler: reformat_contact_path,                    finish: "Mid", bg_color: :deepskyblue, rate: 75, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  useless script conversion tableau csv/excel into format contact VCF<br>
  using: Roo, Ruby(File)<br>
  must:(fichier source, Fichier final)"  %>

  <%= render 'blocs', nb: 8, titre: "conversion_string/string", method_controler: reformat_key_env_path,              finish: "Mid", bg_color: :dodgerblue, rate: 90, file_source:  "présent,_à_reconfigurer", file_results: "présent,_à_reconfigurer",  data_table_bdd: "none", message: "
  useless script conversion variables ENV inner application.yml<br>
  into inline format for easy integration on heroku config vars<br>
  using: ruby(Regex, File)<br>
  must:(fichier source, Fichier final)"  %>

  <%= render 'blocs', nb: 9, titre: "federdo calculatrice", method_controler: projects_federdo_calculatrice_path,     finish: true, bg_color: :royalblue, rate: 99, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  Complete App: Litle Calculator<br>
  using: template(css/js/html) /without layout<br>
  todo: add result inner box"  %>

  <%= render 'blocs', nb: 10, titre: "scraping annuaire cabinets", method_controler: scraping_annuaire_cabinets_path, finish: "Mid", bg_color: :cyan, rate: 95, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  script getting data form multipage website<br>
  using: Nokogiri, CSV<br>
  must:(final file)"  %>

  <%= render 'blocs', nb: 11, titre: "googleMapsAPI_THP_P43", method_controler: googleMapsAPI_THP_P43_path,           finish: true, bg_color: :aqua, rate: 99, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  Operational App:<br>
  Page displaying a Map of the World<br>
  using: Google Map API, html, js<br>
  must: ggle_API_key, JQuery"  %>

  <%= render 'blocs', nb: 12, titre: "CV", method_controler: cv_path,                                                 finish: true, bg_color: :steelblue, rate: 99, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  Page display pdf CV by direct live complitaion code in latex<br>
  using: gem 'rails-latex'<br>
  must: (buildpack-tex(heroku)/latex installed, config textlive.profile)"  %>

  <%= render 'blocs', nb: 13, titre: "Nom de couleurs HTML", method_controler: color_names_path,                      finish: true, bg_color: :cornflowerblue, rate: 99, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  Page displaying color classed(by names/groups)<br>
  using: ruby(hasches, regex)"  %>

  <%= render 'blocs', nb: 14, titre: "Scraping & Donwload des tag img", method_controler: download_img_path,          finish: "Mid", bg_color: :cornflowerblue, rate: 50, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  useless script getting all images from a website<br>
  using: Nokogiri, net/http, ruby(Dir, File, URI)<br>
  must: config initialize(xpath, filtre, dossier, url_com, url)"  %>

  <%= render 'blocs', nb: 15, titre: "Scraping from slack des mbrs THP(/!\\)", method_controler: membre_THP_path,        finish: "Mid", bg_color: :cornflowerblue, rate: 5, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  useless script for getting data from slack<br>
  using watir, PG, CSV, Net:HTTP, ruby(Proc, Struct, File, Rails, URI, Dir)<br>
  must: database, file final, directory destination"  %>

  <%= render 'blocs', nb: 16, titre: "Scraping annuaire cabinets ESN/SSII (Be Free Talent)", method_controler: scraping_annuaire_cabinets2_path,  finish: "Mid", bg_color: :cornflowerblue, rate: 90, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  script getting data from pages of website<br>
  using: Nokogiri, URI, CSV, File, ruby(Regex)<br>
  must:(final save file)<br>
  To complete "  %>

  <%= render 'blocs', nb: 17, titre: "Scraping annuaire starts ups Fr. (Be Free Talent)", method_controler: scraping_annuaire_startups_path,  finish: "Mid", bg_color: :cornflowerblue, rate: 90, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  script getting data from pages of website<br>
  using: Nokogiri, URI, CSV, ruby(Regex, File, Exception Handling)<br>
  spécial: fonction decode encrypted email<br>
  must:(final save file)<br>
  To complete "  %>

  <%= render 'blocs', nb: 18, titre: "HTML Forms", method_controler: html_forms_path,                                 finish: true, bg_color: :cornflowerblue, rate: 99, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
  list of all main html compenents and properties<br>
  using: html"  %>

  <div class="conteneur" style="width:100%">
      <hr class="hr" style="margin-bottom:6">
      <h2 class="title is-2" id="CV_CONTACT">CV Contact</h2>
      <div class="tabs is-centered is-boxed">      <ul> <li><a href="#VARIOUS_PROJECTS">Various Projects</a></li>   <li class="is-active"><a href="#CV_CONTACT">CV Contact</a></li>  <li ><a href="#THP_PROJECTS">THP Project</a></li></ul>      </div>
  </div>
  <!-- <embed src= <%= cv_path %> width="100%" height="1500" type='application/pdf'> -->
  <iframe src=<%= cv_path %>.pdf width="100%" height="1500"> This browser does not support PDFs. Please download the PDF to view it: <a href=<%= cv_path %>.pdf>Download PDF</a></iframe>


  <div class="conteneur">

    <hr class="hr" style="margin-bottom:6">
    <h2 class="title is-2" id="THP_PROJECTS">THP Projects</h2>
    <div class="tabs is-centered is-boxed"><ul><li><a href="#VARIOUS_PROJECTS">Various Projects</a></li>     <li class="is-active"><a>THP Project</a></li></ul></div>
  <%= render 'week_blocs', week: "Semaine1 Introduction Code",  title1:"Introductions",         act_cntrl1: projects_oeuvres1_1_path, rate1: 5,  fin1: false, msg1:"how to use Git[hub]",
                                                                title2:"HTML/CSS, basis",       act_cntrl2: projects_oeuvres1_2_path, rate2: 95, fin2: true,  msg2:"HTML CV with image",
                                                                title3:"Google",                act_cntrl3: projects_oeuvres1_3_path, rate3: 50, fin3: true,  msg3:"Google Home Page",
                                                                title4:"Javascript, hype",      act_cntrl4: projects_oeuvres1_4_path, rate4: 80, fin4: true,  msg4:"Dynamic Home Page",
                                                                title5:"Jquery",                act_cntrl5: projects_oeuvres1_5_path, rate5: 5,  fin5: false, msg5:"hehehe" %>
  <%= render 'week_blocs', week: "Semaine2 Découverte Ruby",    title1:"Initiation Ruby",       act_cntrl1: projects_oeuvres2_1_path, rate1: 90, fin1: true,  msg1:"4 Ruby Script Programs",
                                                                title2:"RSpec",                 act_cntrl2: projects_oeuvres2_2_path, rate2: 90, fin2: true,  msg2:"7 Ruby Script Programs && theirs tests ",
                                                                title3:"twitter",               act_cntrl3: projects_oeuvres2_3_path, rate3: 5,  fin3: false, msg3:"Undone",
                                                                title4:"Nokogiri",              act_cntrl4: projects_oeuvres2_4_path, rate4: 90, fin4: true,  msg4:"3 Ruby Scrapping Scripts",
                                                                title5:"Watir",                 act_cntrl5: projects_oeuvres2_5_path, rate5: 50, fin5: "Mid", msg5:"1 Ruby Automation Script<br>                      TODO: set for running from heroku" %>
  <%= render 'week_blocs', week: "Semaine3 Ruby Intermédiaire", title1:"Excel",                 act_cntrl1: projects_oeuvres3_1_path, rate1: 50, fin1: "Mid", msg1:"2 Back-end Programs<br>                           1 -program read/write json format from/to file<br>        2-Connexion/utilisation API Google_drive(gem)/Spreadsheets<br> ",
                                                                title2:"Envoi Emails",          act_cntrl2: projects_oeuvres3_2_path, rate2: 50, fin2: "Mid", msg2:"A custom back-end program to send an email<br>    Using: gem(gmail Google_drive Nokogiri),<br>  ruby(Dir, File, CSV, Exception) ScrapUrlsPros",
                                                                title3:"POO, scrabbler",        act_cntrl3: projects_oeuvres3_3_path, rate3: 85, fin3: true, msg3:"5 ruby Script programs<br>                         Using: RSpec, Sinatra, %x!!(bash command), File, Opera",
                                                                title4:"Tic Tac Toe",           act_cntrl4: projects_oeuvres3_4_path, rate4: 85, fin4: true,  msg4:"complete  ruby POO program(back-end)<br>          Using RSpec,rubyPOO(File)++ <br>",
                                                                title5:"Frank Sinatra",         act_cntrl5: projects_oeuvres3_5_path, rate5: 5,  fin5: false, msg5:"Undone" %>
  <%= render 'week_blocs', week: "Semaine4 Initiation Rails",   title1:"Découverte Rails",      act_cntrl1: projects_oeuvres4_1_path, rate1: 5,  fin1: false, msg1:"Undone",
                                                                title2:"First websites",        act_cntrl2: projects_oeuvres4_2_path, rate2: 70, fin2: true, msg2:"3 Basic Rails Apps<br> 		                        Using: Engine, Database, MVC",
                                                                title3:"CRUD style",            act_cntrl3: projects_oeuvres4_3_path, rate3: 50, fin3: true, msg3:"2 Basic Rails Apps<br>		                          Using: Engine, Database, boostraps, partial view, scaffold, model validation",
                                                                title4:"BaseDD",                act_cntrl4: projects_oeuvres4_4_path, rate4: 10, fin4: "Mid", msg4:"1 Basic Rails Apps<br> 		                        Using: Engine, Database, Scaffold",
                                                                title5:"Micro Reddit",          act_cntrl5: projects_oeuvres4_5_path, rate5: 5,  fin5: false, msg5:"Undone" %>
  <%= render 'week_blocs', week: "Semaine5 Rails Intermédiaire", title1:"Login",                act_cntrl1: projects_oeuvres5_1_path, rate1: 45, fin1: "Mid", msg1:"Basic authentification Rails App<br>              Using: Engine, Database, boostraps<br>		works =>/univers_response_engine/sessions/new",
                                                                title2:"Cookies",               act_cntrl2: projects_oeuvres5_2_path, rate2: 45, fin2: "Mid", msg2:"same as S5J1",
                                                                title3:"NONE",                  act_cntrl3: projects_oeuvres5_3_path, rate3: 0,  fin3: false, msg3:"Undone",
                                                                title4:"BDD Relationnelles",    act_cntrl4: projects_oeuvres5_4_path, rate4: 70, fin4: "Mid", msg4:"4 Basic Rails Apps(back-end)<br>                         		Using:Engine, Activerecord DB",
                                                                title5:"Eventbrite like",       act_cntrl5: projects_oeuvres5_5_path, rate5: 80, fin5: true, msg5:"1 Rails Apps<br>                         		      Using:Engine, Activerecord DB relations"%>
  <%= render 'week_blocs', week: "Semaine6 Rails Avancé",       title1:"Formulaire Avancé",     act_cntrl1: projects_oeuvres6_1_path, rate1: 75, fin1: true, msg1:"1 Rails Apps<br>                            			  Using:Engine, Activerecord DB,",
                                                                title2:"Gemme Devise",          act_cntrl2: projects_oeuvres6_2_path, rate2: 50, fin2: "Mid", msg2:"2 Rails Apps<br>                            			Using:Engine, Devise ,Activerecord DB,bootstrap, pipeline assets(gems)",
                                                                title3:"Asset Pipeline",        act_cntrl3: cv_path, msg3:"hehehe", rate3: 5, fin3: false,
                                                                title4:"Services, APis",        act_cntrl4: projects_oeuvres6_4_path, rate4: 95, fin4: "Mid", msg4:"1 Ruby Script & 1 Rails App<br>	                  Using:Engine, gem(twitter, bootstraps)<br> 		must:API_keys",
                                                                title5:"None",                  act_cntrl5: projects_oeuvres1_1_path, rate5: 0, fin5: false, msg5:"Undone"%>
  <%= render 'week_blocs', week: "Semaine7 HTML/CSS",           title1:"Come Back To HTML/CSS", act_cntrl1: projects_oeuvres7_1_path, rate1: 50, fin1: true, msg1:"Remaking one Youtube Page<br>                      Using:template(HTML/CSS)",
                                                                title2:"Formulaires",           act_cntrl2: projects_oeuvres7_2_path, rate2: 50, fin2: true, msg2:"1 rails app<br>	                                  Using:Activerecords DB,gem(pipeline tubolinks)",
                                                                title3:"Page New York Times",   act_cntrl3: projects_oeuvres7_3_path, rate3: 25, fin3: true, msg3:"Remaking an Webpage<br>                            Using:template(HTML)",
                                                                title4:"Landing Pages",         act_cntrl4: projects_oeuvres7_4_path, rate4: 13, fin4: true, msg4:"Remaking 3 Webpages<br>                            Using:template(HTML/CSS/JS)",
                                                                title5:"Responsive",            act_cntrl5: projects_oeuvres7_5_path, rate5: 5, fin5: false, msg5:"Undone"%>
  <%= render 'week_blocs', week: "Semaine8 JavaScript",         title1:"CSS frameworks",        act_cntrl1: projects_oeuvres8_1_path, rate1: 5,fin1: false, msg1:"hehehe",
                                                                title2:"JavaScript",            act_cntrl2: projects_oeuvres8_2_path, rate2: 5, fin2: false, msg2:"hehehe",
                                                                title3:"JavaScript",            act_cntrl3: projects_oeuvres8_3_path, rate3: 35, fin3: true, msg3:"3 basic interactive page<br>                     	Using: Template(HTML/CSS/JS), JS ",
                                                                title4:"JQuery",                act_cntrl4: projects_oeuvres8_4_path, rate4: 90, fin4: true, msg4:"A basic interactive webpage<br>                    Using: Template(HTML/CSS/SVG), JS(Jquery)",
                                                                title5:"JQuery",                act_cntrl5: projects_oeuvres8_5_path, rate5: 5, fin5: false, msg5:"hehehe"%>
  <%= render 'week_blocs', week: "Semaine9 JavaScript front",   title1:"Callback",              act_cntrl1: projects_oeuvres9_1_path, rate1: 5,fin1: false, msg1:"hehehe",
                                                                title2:"APIs",                  act_cntrl2: projects_oeuvres9_2_path, rate2: 90, fin2: true, msg2:"A map of the world<br>                         		Using: Template(HTML), google_map API, Jquery",
                                                                title3:"AJAX",                  act_cntrl3: projects_oeuvres9_3_path, rate3: 50, fin3: true, msg3:"A mail manager<br>                           			Using: Engine, Activerecords DB, gem(sass-rails,turbolinks),AJAX",
                                                                title4:"NodeJS",                act_cntrl4: projects_oeuvres9_4_path, rate4: 5, fin4: false, msg4:"hehehe",
                                                                title5:"The End",               act_cntrl5: projects_oeuvres9_5_path, rate5: 5, fin5: false, msg5:"hehehe"%>
  <%= render 'week_blocs', week: "Semaine10 Semaine11 final project",   title1:"bonjour", act_cntrl1: cv_path, msg1:"ok/some errors/no ok", rate1: 0, fin1: false,
                                                                title2:"bonjour",         act_cntrl2: cv_path, msg2:"hehehe", rate2: 0, fin2: false,
                                                                title3:"bonjour",         act_cntrl3: cv_path, msg3:"hehehe", rate3: 0, fin3: false,
                                                                title4:"bonjour",         act_cntrl4: cv_path, msg4:"hehehe", rate4: 0, fin4: false,
                                                                title5:"bonjour",         act_cntrl5: cv_path, msg5:"hehehe", rate5: 0, fin5: false%>
  </div>

  <div class="container">
    <hr class="hr" style="margin-bottom:6">
    <h2 class="title is-2" id="OTHERS_APPS">Others Projects</h2>
    <div class="tabs is-centered is-boxed"><ul><li><a href="#VARIOUS_PROJECTS">Various Projects</a></li>
                                               <li><a href="#CV_CONTACT">      CV Contact      </a></li>
                                               <li><a href="#THP_PROJECTS">    THP Project     </a></li>
                                               <li class="is-active"><a>   Others Projects     </a></li></ul></div>

     <%= render 'blocs', nb: 1, titre: "Blog", method_controler: blog_path, finish: true, bg_color: :goldenrod, rate: 100, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
                                               basic rails app using scaffold; blog: articles, comment<br>
                                               using: Engine, ActiveRecord, gems(pipeline)"  %>
     <%= render 'blocs', nb: 2, titre: "Hello World", method_controler: hello_engine_path, finish: true, bg_color: :rosybrown, rate: 100, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
                                               a minimalist as possible rails app<br>
                                               using: Engine"  %>
     <%= render 'blocs', nb: 3, titre: "Login", method_controler: login_password_full_master_path, finish: true, bg_color: :bisque, rate: 100, file_source:  "none", file_results: "none",  data_table_bdd: "none", message: "
                                               basic rails app using authentification<br>
                                               using: Engine, ActiveRecord"  %>

  </div>

</div>
</div>


<script></script>

<!-- <style>
    form {background-color: powerblue;}
    h1   {color: blue;}
    p    {color: black;}
</style> -->
