<ul style="display: flex; flex-direction: horizontal">
  <li><a href="#none"> <%= image_tag "logo.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/1 Main Techno.jpg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/2 heroku.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/3 bulma bootstrap.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/4 facebook.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/6 postgresql.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/7 latex.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/8 twitter API.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/9 json.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/10 csv.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/11 Ajax.jpeg" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/12 google API.jpeg" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/13 RSpec.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/14 watir.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/15 keep calm.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/16 Regex.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/17 git brand.jpg" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/17-bis git.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/bash 1.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/bash 2.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/engrenage.jpg" %>   </a></li>
</ul>



<ul id="nav" class="gallery" style="display: flex; flex-direction: horizontal; flex-wrap: wrap; justify-content: space-around;">
  <li><a href="#none"> <%= image_tag "logo.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/1 Main Techno.jpg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/2 heroku.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/3 bulma bootstrap.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/4 facebook.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/6 postgresql.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/7 latex.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/8 twitter API.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/9 json.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/10 csv.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/11 Ajax.jpeg" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/12 google API.jpeg" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/13 RSpec.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/14 watir.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/15 keep calm.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/16 Regex.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/17 git brand.jpg" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/17-bis git.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/bash 1.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/bash 2.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/engrenage.jpg" %>   </a></li>
</ul>


<style media="screen">

  ul.gallery li {
    margin: 5px;
    border: 1px solid #ccc;
  }

  ul#nav li img {
    width: auto;
    height: 100px;
  }
</style>


<li><a href="#none"> <%= image_tag "logo.png", {style: 'height:50vw;width:100vw;margin-bottom:20px;'} %>   </a></li>
<ul class="gallery">
  <li><a href="#none"> <%= image_tag "logo.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/1 Main Techno.jpg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/2 heroku.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/3 bulma bootstrap.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/4 facebook.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/6 postgresql.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/7 latex.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/8 twitter API.png" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/9 json.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/10 csv.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/11 Ajax.jpeg" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/12 google API.jpeg" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/13 RSpec.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/14 watir.jpeg" %>   </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/15 keep calm.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/16 Regex.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/17 git brand.jpg" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/17-bis git.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/bash 1.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/bash 2.png" %>  </a></li>
  <li><a href="#none"> <%= image_tag "images-technos/engrenage.jpg" %>   </a></li>
</ul>

<br>
