<%a = "https://i.ytimg.com/vi/cyMHZVT91Dw/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLB1aCT51-1VzvauRuli1IvRS6fwhw" %>
<%b = "https://i.ytimg.com/vi/djV11Xbc914/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLDRHVOMeT9_AlEP1rXvje7MYFMCCg" %>
<%c = "https://i.ytimg.com/vi/yPYZpwSpKmA/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLA6g5QWF95TcEexTR3bbxVUIgeZBA" %>
<%d = "https://i.ytimg.com/vi/KOnRf1K6Eg8/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLAtXsUOeFuhG-ULewXxf6p9ZcL4bQ" %>
<%e = "https://i.ytimg.com/vi/8UsHzhGXha4/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLDxjJFC1m2Qfm2PiK81y7qlRDxv1w" %>
<%f = "https://i.ytimg.com/vi/k_U6mWu1XQA/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLA4j8cpSFEkpwIzUMWGgKjBxU0-0Q" %>
<%g = "https://i.ytimg.com/vi/XV9QU4U65JM/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLCYx88v1pRRgIJ8AryTSSPynOIOvA" %>
<%h = "https://i.ytimg.com/vi/otCpCn0l4Wo/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLCm9FaTFebqPQOwJzYUXMd9m8_5sA" %>

<% a_text = [ "Rick Astley Sings Live - Never Gonna Give You Up - This Morning" , "Ryan915", "2,1 M vues" ] %>
<% b_text = [ "a-ha - Take On Me (Official Video)" , "RHINO", "501 M vues" ] %>
<% c_text = [ "Rick Astley - Together Forever" , "RickAstleyVEVO", "44 M vues" ] %>
<% d_text = [ "Ruby on Rails - Railscasts PRO #241 Simple OmniAuth (revised)" , "Railscasts Reloaded", "Recommandée pour vous" ] %>
<% e_text = [ "Neymar vs Colombia Away HD 1080i (05/09/2017) - English Commentary" , "MNcompsJR", "" ] %>
<% f_text = [ "Haddaway - What is love" , "José Rodrigues", "42 M vues" ] %>
<% g_text = [ "Rails Error Tracking with Errbit" , "GoRails", "Recommandée pour vous", "Nouveau" ] %>
<% h_text = [ "MC Hammer - U Can't Touch This" , "MCHammerVevo", "367 M vues" ] %>








<header>..<h3>lundi</h3>..gggggggg</header>


<section class = "ligne">


  <section class = "main">
      <embed width="854" height="480"
           src="https://www.youtube.com/embed/dQw4w9WgXcQ"
           frameborder="0" gesture="media" allowfullscreen>
  </section>

  <section class = "sidebar">
      <ul>
        <li><a href="#">
              <p><img src=<%= a %> alt="HTML5 Icon" style="float:left;max-width:auto;max-height:auto;">
                 <%= a_text[0] %> </br> <%= a_text[1] %> </br> <%= a_text[2]  %>
              </p>
            </a>
        </li>
        <li><a href="#">
              <p><img src=<%= b %> alt="HTML5 Icon" style="float:left;max-width:auto;max-height:auto;">
                 <%= b_text[0] %> </br> <%= b_text[1] %> </br> <%= b_text[2]  %></br>
              </p>
            </a>
        </li>
        <li><a href="#">
              <p><img src=<%= c %> alt="HTML5 Icon" style="float:left;">
                 <%= c_text[0] %> </br> <%= c_text[1] %> </br> <%= c_text[2]  %></br>
              </p>
            </a>
        </li>
        <li><a href="#">
              <p><img src=<%= d %> alt="HTML5 Icon" style="float:left">
                 <%= d_text[0] %> </br> <%= d_text[1] %> </br> <%= d_text[2]  %></br>
              </p>
            </a>
        </li>
        <li><a href="#">
              <p><img src=<%= e %> alt="HTML5 Icon" style="float:left;">
                 <%= e_text[0] %> </br> <%= e_text[1] %> </br> <%= e_text[2]  %></br>
              </p>
            </a>
        </li>
        <li><a href="#">
              <p><img src=<%= f %> alt="HTML5 Icon" style="float:left;">
                 <%= f_text[0] %> </br> <%= f_text[1] %> </br> <%= f_text[2]  %></br>
              </p>
            </a>
        </li>
        <li><a href="#">
              <p><img src=<%= f %> alt="HTML5 Icon" style="float:left;">
                 <%= f_text[0] %> </br> <%= f_text[1] %> </br> <%= f_text[2]  %></br>
              </p>
            </a>
        </li>
      </ul>
  </section>
  <section class = "titre">
      <h2>Rick Astley - Never Gonna Give You Up</h2>
      <p> Description </br> normalement dans une section à part entière<p>
  </section>

</section>

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>

<footer><p>..footer..</p></footer>
