<h1>LOG IN</h1>

<%= form_tag login_path do %><br>

	<%= label_tag 'e-Mail :'  %><br>
	<%= text_field_tag 'session[email]' %><br>

	<%= label_tag 'Password :' %><br>
	<%= text_field_tag 'session[password]' %><br>
	
	<%= submit_tag 'Log in' %><br>

<% end %><br>

    <p>New user? <%= link_to "Sign up here!", new_user_path %></p>
