<!DOCTYPE html>
<html>
<head>
  <title>Thp moussaillons</title>
  <%= stylesheet_link_tag    "thp_moussaillons/application", media: "all" %>
  <%= javascript_include_tag "thp_moussaillons/application" %>
  <%= csrf_meta_tags %>
</head>

  <%= render 'layouts//thp_moussaillons/header' %>

<body>

<%= yield %>

</body>
</html>
