<h1>Emails#index</h1>



<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fichiers CSS -->
     <link rel="stylesheet" type="text/css" href="stylesheet.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>

  <body onload="">


	<!-- <div class="container-fluid"> -->
  	<div class="container" style="display:flex;flex-direction: row;background:green;">
   	<!-- Content here -->
      <div class="gauche" style="width:50%;background:blue;">
        <table style=";">
            <thead>
              <tr>
                <th>Email</th>
                <th>Phone</th>
                <th>Password</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @emails.each do |email| %>
                <tr>
                  <td><%= email.id %></td>
                  <td><%= email.object %></td>
                  <td><%= email.body %></td>
                  <td><%= link_to 'Show', email %></td>
                  <td><%= link_to 'Edit', edit_email_path(email) %></td>
                  <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' },
                  :remote => true, :class => 'delete_email' %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <div class="droite" style="width:50%;height:auto;background:red">

      </div>
  	</div>

    <%= link_to 'New Email', new_email_path %>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

      <!-- Optional JavaScript -->
      <script type="text/javascript">

        var main = {salut(){alert("Bonjour");}        }
        function myMap(latti,longi,order) {
          var mapOptions1 = {
            center: new google.maps.LatLng(latti,longi),
            zoom:order,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map1 = new google.maps.Map(document.getElementById("googleMap1"), mapOptions1);
        }

        function localize(order, longitude, lattitude){
          if ((typeof(longitude) == 'undefined' ) && (typeof(lattitude) == 'undefined')) {
                longitude = $(':input').filter($('#label1')).prop('value');
                lattitude = $(':input').filter($('#label2')).prop('value');}
          if (typeof(order) == 'undefined'){order = 6;}
          myMap(longitude, lattitude, order);
        }

        function zoom(){
            ordre = $(':input').filter($("#labelzoom")).prop('value');
            localize(Number(ordre));
        }
        $(document).ready(main.salut());
      </script>
      <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM5QMhmPxBB-SJaN9eMMKcqH23Cuitbig&callback=localize"></script>
    </body>
</html>
