<script type="text/javascript">
      // Check for click events on the navbar burger icon/
      $(document).ready(function() { $(".navbar-burger").click(function() { $(".navbar-burger").toggleClass("is-active");  $(".navbar-menu").toggleClass("is-active");});});
      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
</script>

<nav class="hero-head navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <class class="navbar-item">
      <div class="buttons">
        <a class="button is-success is-inverted" href="https://github.com/souyahibou/all-projects">
          <span class="icon"><i class="fab fa-github"></i></span>
          <span>Github project source page</span>
        </a>

        <%= button_to main_app.projects_home_path, remote: true, method: :post, class: "button is-info is-inverted" do %>
        <span class="icon"><i class="fas fa-palette"></i></span>
        <span>[un]display color</span>
        <% end %>
      </div>
    </class>


    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarLargeWindow">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarLargeWindow" class="navbar-menu" >
    <div class="navbar-end"><!-- class="navbar-start" -->
      <a class="navbar-item is-active" href= <%= main_app.projects_home_path %> >Home</a>

      <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Menu Main Projects</a>
          <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="<%=main_app.projects_home_path%>#VARIOUS_PROJECTS">Various Projects</a>
              <a class="navbar-item" href="<%=main_app.projects_home_path%>#THP_PROJECTS">THP Projects</a>
              <a class="navbar-item" href="<%=main_app.projects_home_path%>#CV_CONTACT">CV contact</a>
              <hr class="navbar-divider">
              <div class="navbar-item">Version 2.0.1</div>
          </div>
      </div>
    </div>
  </div>
</nav>
