<h1>S2DecouverteRuby::J2Rspec</h1>


<%= render 'bloc_service', title: "0 Hello",                            task: "hello",       post_remote: projects_oeuvres2_2_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "1 Conversion Temperature °C <=> °F", task: "temperature", post_remote: projects_oeuvres2_2_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "2 Calculator",                       task: "calculator",  post_remote: projects_oeuvres2_2_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "3 Simon Says",                       task: "simon_says",  post_remote: projects_oeuvres2_2_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "4 Pig Latin",                        task: "pig_latin",   post_remote: projects_oeuvres2_2_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "5 Book Titles",                      task: "book_titles", post_remote: projects_oeuvres2_2_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
<%= render 'bloc_service', title: "6 Timer",                            task: "timer",       post_remote: projects_oeuvres2_2_path, display_msg: false, display_text: false, display_search: false, display_number: false, remote: false, action: "get"%>
